body {
     background-color: #262626;
}
@font-face {
    font-family: 'Quicksand_Bold';
    src: url('../Fonts/Quicksand_Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Quicksand_Book';
    src: url('../Fonts/Quicksand_Book.otf') format('opentype');
}
h1,h2,h3{
   font-family: Quicksand_Bold,cursive;
   text-shadow: 0px 0px 4px #000000;
}
p{
    font-family: Quicksand_Book,cursive;
}

h1.pageLogo{
    padding-left:5px;
    padding-bottom:10px;
    position:relative;
    font-family:Quicksand_Bold, cursive;
    font-size: 20pt;
    color: white;
    text-shadow: 0px 0px 4px #616161;
    box-shadow: 5px 0 5px -5px #333;
}
#logoContainer{
    padding-left:5px;
    width:100%;
}

#navbarHorizontal{
    height:10%;
    background-color: #262626;
    box-shadow: 0px 2px 0px #eae4e4;
}
#pageName {
    padding-left:5px;
    position: relative;
    font-family: Quicksand_Bold,cursive;
    font-size: 13pt;
    color: white;
    text-shadow: 0px 0px 4px #000000;
}
div.loginCard{
    margin:auto;
    position:center;
    color:#262626;
    background-color:white;
    box-shadow: 0 8px 16px 0 #616161;
    width:40%;
    height:40%;
    border-radius:3px;
    text-align:center;
   

}
p.LoginText{
    padding-top:10px;
    font-size:13px;
    text-shadow: 0px 0px 4px #616161;
}
.labelFields{
    font-family:Quicksand_Book,cursive;
    display:inline-block;
}