html{
    width:100%;
    height: 100%;
    overflow:hidden;
}
body {
    background: #1487BF; /*Default Background incase webkit not supported*/
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(0,171,255,.4) 10%,rgba(53,88,108,.5) 40%),  -webkit-linear-gradient(-45deg,  #1487BF 0%,#9BDDFF 100%), -webkit-linear-gradient(top,  rgba(0,0,35,.5) 0%,rgba(10,67,95,.4) 100%);
}
@font-face { /*creating a new font family from a font file*/
    font-family: 'Quicksand_Bold';
    src: url('../Fonts/Quicksand_Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Quicksand_Book';
    src: url('../Fonts/Quicksand_Book.otf') format('opentype');
}
h1,h2,h3{ /* Setting default heading styles*/
   font-family: Quicksand_Bold,cursive;
   text-shadow: 0px 0px 4px #000;
}
p{ /*Setting default pararaph*/
    font-family: Quicksand_Bold;
}
h1.pageTitle{
    color:white;
    padding-left:10px;
    font-size:16pt;
}
h1.pageLogo{
    padding-left:5px;
    padding-bottom:10px;
    position:relative;
    font-family:Quicksand_Bold, cursive;
    font-size: 20pt;
    color: white;
    text-shadow: 0px 0px 4px #000;
    box-shadow: 6px 0 5px -6px #333;
}
#logoContainer{
    padding-left:5px;
    width:100%;
}

#navbarHorizontal{
    height:10%;
    box-shadow: 0px 2px 0px #eae4e4;
}
#pageName {
    padding-left:5px;
    position: relative;
    font-family: Quicksand_Bold,cursive;
    font-size: 13pt;
    color: white;
    text-shadow: 0px 0px 4px #000;
}
#footer {
   position: absolute;
     height: 50px;
    bottom: 0;
    width: 100%;
    left: 0;
}
p.pageFooter{
    position: center;
    text-align:center;
    font-family: Quicksand_Book,cursive;
    font-size: 12pt;
    color: white;
    text-shadow: 0px 0px 4px #000;
}
div.loginCard{
    margin:auto;
    position:center;
    color:#262626;
    background-color:white;
    box-shadow: 0 8px 16px 0 #333;
    padding:25px;
    border-radius:3px;
    text-align:center;
    width:30%;
    padding-bottom:35px;
}
#loginGreeting{
    color:#1487BF;
    font-size:14pt;
   
}
p.LoginText{
    font-family:Quicksand_Book;
    font-weight:bold;
    padding-top:10px;
    font-size:13px;
    text-shadow: 0px 0px 4px #616161;
}
.txtBoxLogin{
    font-family:Quicksand_Book,cursive;
    width: 40%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.2);
	border: none;
	font-size: 13px;
	color: black;
	border: 1px solid #000;
	border-radius: 4px;
	outline: none;
	padding: 10px;
}
.txtBoxLogin:hover {
    background: rgba(0,0,0,0.4);
    transition: 0.2s ease-in;
}
.btnLogin{
    border:none;
    color: white;
    font-family:Quicksand_Bold, cursive;
    width:40%;
    background-color:#262626;
    text-align:center;
    font-size:13pt;
    border-radius:2px;
}
.btnLogin:hover{
    transition:0.3s ease-in;
    background-color:#1487BF;
}
