body {
   
}
@font-face {
    font-family: 'Quicksand_Book';
    src: url('../Fonts/Quicksand_Book.otf') format('opentype');
}
a{
    
    color:#1487BF;
    font-family:Quicksand_Book,cursive;
    text-decoration:none;
}
li{
    list-style:none;
    padding-top: 5px;
    padding-bottom:5px;
}
#navigationBar{
    background-color:white;
    box-shadow: 0 8px 16px 0 #333;
    border-radius:2px;
}
#login{
    color:white;
    font-family:Quicksand_Book;
}
a.admin{
    color:#1487bf;
}
a.navLinks{
    border-style:none;
}
div.bodyNavContainer{
    width:100%;
    display:inline-block;

}
div.leftNavFloat{
    width:15%;
    float:left;
}
div.rightBodyFloat{
    width:80%;
    float:right;
    background-color:white;
    border-radius:2px;
}
h1.welcomeMessage{
    color:#1487BF;
    font-family:Quicksand_Book,cursive;
    text-decoration:none;
    padding:0px;

}
.grid{
    font-family:Quicksand_Book;
}
.formLabel{
    font-family:Quicksand_Book;
    color:black;
}